
body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  margin: 0;
  animation: fadeIn .8s ease-in;
  min-width: 375px;
}

button {
  background-color: hsl(180, 66%, 49%);
  border: none;
  color: #fff;
  font-weight: 700;
  padding: 1rem 2.8rem;
  border-radius: 3rem;
  font-size: 19px;
}

button:hover {
  background-color: hsl(180, 69%, 74%);
}

button:hover, .footer-links p:hover, .media-icon:hover {
  cursor: pointer;
}

::placeholder {
  color: hsl(257, 7%, 63%);
  font-size: 18px;
  padding-left: 1rem;
}

:focus {
  display: inline-block;
  outline-color: hsl(257, 7%, 63%);
  box-shadow: 0 0 0 2px hsl(257, 7%, 63%);
}

.head-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.head-link {
  text-decoration: none;
  color: hsl(257, 7%, 63%);
  font-weight: 700;
  padding: 0 .8rem;
  margin-top: .5rem;
  font-size: 15px;
}

.hamburger {
  font-size: 28px;
  color: hsl(257, 7%, 63%);
  visibility: hidden;
}

.links-section {
  display: flex;
}

.head-link:hover {
  color: hsl(257, 27%, 26%);
}

.head-part1 {
  display: flex;
  align-items: center;
  width: 85%;
  height: 3rem;
  justify-content: space-between;
}

.head-logo {
  align-self: flex-end;
  color: #34313D;
}

.head-part2 {
  height: 3rem;
  width: 12.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head-part2 button {
  font-size: 15px;
  padding: .7rem 1.5rem;
  margin-top: .3rem;
}

.main-section, .extra-info, .head-links, .extra-add, .footer-links {
  padding: 2rem 10rem 10rem;
}

/* Main Section */
.main-section {
  padding-right: 0;
  display: flex;
  justify-content: center;
}

.text {
  width: 60%;
  line-height: 1.2;
}

.text h1 {
  font-size: 80px;
  margin-bottom: 0;
  color: hsl(257, 27%, 26%);
}

.text p {
  margin-top: 0;
  margin-bottom: 2.5rem;
  color: hsl(257, 7%, 63%);
  width: 90%;
  font-size: 22.5px;
  line-height: 1.7;
}

/* Extera info section */
.extera-info {
  background-color: #EFF1F7;
  padding-bottom: 10rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  bottom: 70px;
}

.extera-info p {
  margin: 0;
}

.shorten-section {
  background-color: hsl(257, 27%, 26%);
  background-image: url("images/bg-shorten-desktop.svg");
  background-repeat: no-repeat;
  padding: 2rem 3rem;
  width: 70%;
  margin: auto;
  border-radius: .8rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.shorten-links {
  width: 73%;
}

.shorten-link {
  width: 93%;
  border-radius: 5px;
  background-color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1.5rem auto;
}

.shorten-link button {
  border-radius: 5px;
  padding: .7rem 1.8rem;
  font-size: 15px;
  margin: 0 .5rem 0 1rem;
  transition: .2s linear;
}

.short-p {
  color: hsl(180, 66%, 49%);
}

.long-p {
  color: hsl(257, 27%, 26%);
}

.short-section {
  display: flex;
  align-items: center;
}

.inner-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
}

.input-area {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.error-msg {
  display: inline-block;
  color: hsl(0, 87%, 67%);
  padding-left: .5rem;
  padding-top: .5rem;
  font-size: 15px;
}

/* Class for changing color of placeholder in occurance of error, add it to the input */
.red-inside::placeholder {
    color: hsl(0, 87%, 67%);
 }

.shorten-section input {
  width: 95%;
  padding: 1.22rem 1.5rem;
  border-radius: .6rem;
  border: none;
  font-size: 18px;
  margin: 0 .2rem;
  height: 3.8rem;
  box-sizing: border-box;
}

.shorten-section button {
  border-radius: .6rem;
  height: 3.8rem;
  width: 12rem;
  box-sizing: border-box;
}

.extera-info .head-section {
  width: 36%;
  margin: 0 auto 4rem;
  text-align: center;
}

.extera-info .head-section h3 {
  margin-top: 8rem;
  font-size: 40px;
  margin-bottom: 1rem;
  color: hsl(257, 27%, 26%);
}

.extera-info .head-section p {
  color: hsl(257, 7%, 63%);
}

.features {
  display: grid;
  width: 70rem;
  grid-gap: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 4rem 2rem 11rem 1fr 3rem;
  grid-template-areas:
    "recognition . . . ."
    "recognition . records . ."
    "recognition line1 records line2 customizable"
    "recognition . records . customizable"
    ". . . . customizable";
  justify-content: center;
  align-items: center;
}

.green-line {
  width: 2rem;
  height: .5rem;
  background-color: hsl(180, 66%, 49%);
}

.featur {
  background-color: #fff;
  width: 18rem;
  height: 15rem;
  border-radius: .3rem;
  padding: 0 2rem 2rem;
}

.featur img {
  background-color: hsl(257, 27%, 26%);
}

.pic-back {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(257, 27%, 26%);
  border-radius: 50%;
  position: relative;
  top: -2rem;
}

.featur p {
  color: hsl(257, 7%, 63%);
  font-size: 15px;
}

.featur h4 {
  color: hsl(257, 27%, 26%);
  margin-top: 0;
  font-size: 23px;
  width: 90%;
}

.recognition {
  grid-area: recognition;
}

.records {
  grid-area: records;
}

.customizable {
  grid-area: customizable;
}

.line1 {
  grid-area: line1;
}

.line2 {
  grid-area: line2;
}

/* Extera add section */
.extera-add {
  background-color: hsl(257, 27%, 26%);
  padding: 4rem 0;
  text-align: center;
  background-image: url("images/bg-boost-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.extera-add h3 {
  color: #fff;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 1.8rem;
  font-size: 40px;
}

/* Footer links */
.footer-links {
  padding-top: 5rem;
  display: flex;
  background-color: hsl(260, 8%, 14%);
  justify-content: space-between;
}

.right-links {
  display: flex;
  width: 65%;
  justify-content: space-between;
}

.sections h5 {
  margin-top: 0;
  color: #fff;
}

.sections p {
  color: hsl(0, 0%, 75%);
  font-size: 15px;
  margin: 12px 0;
}

.sections p:hover, .media-icon:hover {
  color: hsl(180, 66%, 49%);
}

.social-media {
  display: flex;
  flex-wrap: wrap;
}

.media-icon {
  margin: 0 .5rem;
  color: #FFF;
}

.media-icon:hover {
  color: hsl(180, 66%, 49%);
}

/* Tablet size */
@media(max-width: 1200px) {
  body {
    animation: fadeOut .5s ease-in;
  }

  ::placeholder {
    font-size: 15px;
  }

  .main-section, .extra-info, .head-links, .extra-add, .footer-links {
    padding: 5rem 2rem 5rem;
  }

  .head-part1 {
    width: 80%;
  }

  .main-section {
    padding-right: 0;
    display: flex;
    justify-content: space-between;
  }

  .text {
    width: 40%;
  }

  .text h1 {
    font-size: 40px;
  }

  .text p {
    width: 80%;
    font-size: 20px;
  }

  .text button {
    font-size: 15px;
    padding: .8rem;
    width: 10rem;
  }

  .work-picture {
    width: 50%;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    bottom: 40px;
  }

  .extera-info p {
    margin: 0;
  }

  .shorten-section {
    padding: 1rem 2rem;
    width: 80%;
    border-radius: .8rem;
  }

  .inner-content {
    justify-content: space-between;
  }

  .input-area {
    width: 80%;
  }

  .shorten-section button {
    padding: 1rem;
    height: 3rem;
    font-size: 15px;
    border-radius: 5px;
  }

  .shorten-section input {
    height: 3rem;
    width: 95%;
    padding: 1rem .5rem;
  }

  .shorten-links {
    width: 83%;
  }

  .shorten-links p {
    font-size: 13px;
  }

  .extera-info .head-section {
    width: 50%;
    margin-bottom: 6rem;
  }

  .extera-info .head-section h3 {
    margin-top: 4rem;
    font-size: 30px;
  }

  .extera-info .head-section p {
    font-size: 15px;
  }

  .green-line {
    width: .5rem;
    height: 6rem;
  }

  .pic-back {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(257, 27%, 26%);
    border-radius: 50%;
    position: relative;
    top: -2rem;
    left: 6rem;
  }

  .features {
    display: grid;
    width: 22rem;
    margin: 1rem;
    grid-gap: 0;
    grid-template-columns: 1fr 1.5rem 1fr;
    grid-template-rows: 1fr 6rem 1fr 6rem 1fr;
    grid-template-areas:
      "recognition recognition recognition"
      ". line1 ."
      "records records records"
      ". line2 ."
      "customizable customizable customizable";
    justify-content: center;
    align-items: center;
  }

  .extera-info {
    padding-bottom: 5rem;
  }

  .footer-links {
    justify-content: space-around;
  }

  .right-links {
    width: 70%;
    justify-content: space-between;
  }

  .sections h5 {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .sections p {
    font-size: 12px;
    margin: 6px 0;
  }

  .media-icon {
    margin: 0 .2rem;
  }
}

/* Mobile size */
@media (max-width:850px) {
  body {
    animation: fadeIn .8s ease-in;
  }

  .head-links, .extra-add {
    padding: 2rem 1.5rem 10rem;
  }

  .extera-info {
    padding-bottom: 0;
  }

  .head-links {
    padding-bottom: 1rem;
  }

  .links-section, .head-part1, .head-part2, .footer-links, .shorten-link, .short-section {
    flex-direction: column;
    justify-content: space-around;
  }

  .social-media {
    flex-direction: row;
  }

  .head-links {
    padding-top: 2rem;
    align-items: center;
  }

  .hamburger {
    visibility: visible;
  }

  .head-part1 {
    visibility: hidden;
    position: absolute;
    top: 90px;
    right: 25px;
    width: 325px;
    min-width: 325px;
    height: 390px;
    align-items: center;
    background-color: hsl(257, 27%, 26%);
    border-radius: 10px;
    z-index: 1;
  }

  .links-section {
    align-items: center;
    height: 40%;
  }

  .head-part2 {
    justify-content: center;
    padding-top: .5rem;
    height: 40%;
    width: 90%;
    border-top: 1px solid hsl(0, 0%, 75%);
  }

  .head-part2 button {
    font-size: 18px;
    padding: .8rem 6.5rem;
    margin-top: 1.5rem;
  }

  .head-link {
    color: #FFF;
    font-size: 18px;
  }

  .main-section {
    flex-direction: column-reverse;
    padding: 2rem 0 11rem;
  }

  .content {
    bottom: 80px;
  }

  .text, .work-picture {
    width: 100%;
  }

  .text {
    text-align: center;
    align-items: center;
  }

  .text p {
    margin: 1rem auto 2rem;
    width: 90%;
    font-size: 18px;
  }

  .text button {
    font-size: 19px;
    padding: 1.1rem;
    width: 12rem;
  }

  .main-section svg {
    height: 382px;
    width: 100%;
  }

  .shorten-section {
    background-image: url("images/bg-shorten-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
    width: 80%;
  }

  .inner-content {
    flex-direction: column;
    align-items: center;
  }

  .error-msg {
    font-size: 10px;
    padding-top: .2rem;
  }

  .shorten-section input, .shorten-section button {
    font-size: 18px;
    border-radius: .4rem;
    padding: .8rem 0;
    box-sizing: border-box;
    width: 94%;
  }

  .shorten-section input {
    margin: .5rem .2rem 0;
    padding-left: .3rem;
    width: 98.5%;
  }

  .shorten-section button {
    height: 2.8rem;
    margin-bottom: .5rem;
  }

  ::placeholder {
    margin-left: 1rem;
  }

  .shorten-links {
    width: 90%;
    align-items: center;
  }

  .shorten-link {
    width: 90%;
    padding: 16px 0;
  }

  .shorten-links p {
    font-size: 15px;
    padding-left: 1rem;
    padding-bottom: .7rem;
    align-self: flex-start;
  }

  .long-p {
    width: 100%;
  }

  .short-section {
    width: 100%;
    border-top: 1px solid hsl(0, 0%, 75%);
    padding: .5rem 0;
  }

  .input-area {
    width: 95%;
    margin-bottom: 1rem;
  }

  .short-section button {
    width: 90%;
    margin: 0;
  }

  .extera-info .head-section {
    width: 90%;
  }

  .extera-info .head-section h3 {
    font-size: 28px;
    width: 90%;
    margin: 4rem auto auto;
  }

  .extera-info .head-section p {
    width: 85%;
    margin: 1rem auto 0;
  }

  .features {
    width: 20rem;
    grid-template-columns: 1fr 2rem 1.5rem 1fr;
    grid-template-rows: 1fr 6rem 1fr 6rem 1fr;
    grid-template-areas:
      "recognition recognition recognition recognition"
      ". . line1 ."
      "records records records records"
      ". . line2 ."
      "customizable customizable customizable customizable";
  }

  .featur {
    width: 16rem;
    height: 16rem;
    padding: 0 2rem 1rem;
    text-align: center;
  }

  .featur h4 {
    margin: 0 auto 20px;
  }

  .extera-add {
    background-color: hsl(257, 27%, 26%);
    padding: 6rem 0;
    text-align: center;
    background-image: url("images/bg-boost-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .extera-add h3 {
    margin-bottom: .8rem;
    font-size: 26px;
  }

  .footer-links {
    padding: 3rem 1.5rem 1.5rem;
  }

  .footer-links, .sections {
    text-align: center;
    align-items: center;
  }

  .footer-links svg {
    margin-bottom: 2rem;
  }

  .sections {
    margin: 1rem auto 1rem;
  }

  .right-links {
    flex-direction: column;
    align-items: center;
  }

  .social-media {
    margin: 1.5rem auto 0;
  }

  .sections p {
    font-size: 15px;
    margin: 12px 0;
  }

  .sections h5 {
    margin-bottom: 1.5rem;
  }

  .media-icon {
    margin: .7rem;
  }
}

/* Animation */
@keyframes fadeIn {
  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}
