body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  margin: 0;
}

button {
  background-color: hsl(180, 66%, 49%);
  border: none;
  color: #fff;
  font-weight: 700;
  padding: 1rem 2.8rem;
  border-radius: 3rem;
  font-size: 19px;
}

button:hover {
  background-color: hsl(180, 69%, 74%);
}

button:hover, .footer-links p:hover, .media-icon:hover {
  cursor: pointer;
}

::placeholder {
  color: hsl(257, 7%, 63%);
  font-size: 18px;
  padding-left: 1rem;
}

:focus {
  display: inline-block;
  outline-color: hsl(257, 7%, 63%);
  box-shadow: 0 0 0 2px hsl(257, 7%, 63%);
}

.head-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.head-link {
  text-decoration: none;
  color: hsl(257, 7%, 63%);
  font-weight: 700;
  padding: 0 .8rem;
  font-size: 15px;
}

.head-link:hover {
  color: hsl(257, 27%, 26%);
}

.head-part1 {
  display: flex;
  align-items: center;
  width: 28rem;
  height: 3rem;
  justify-content: space-between;
}

.head-logo {
  align-self: flex-end;
  color: #34313D;
}

.head-part2 {
  height: 3rem;
  width: 12.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head-part2 button {
  font-size: 15px;
  padding: .8rem 1.6rem;
}

.main-section, .extra-info, .head-links, .extra-add, .footer-links {
  padding: 2rem 10rem 10rem;
}

/* Main Section */
.main-section {
  padding-right: 0;
  display: flex;
  justify-content: center;
}

.text {
  width: 60%;
  line-height: 1.2;
}

.text h1 {
  font-size: 80px;
  margin-bottom: 0;
  color: hsl(257, 27%, 26%);
}

.text p {
  margin-top: 0;
  margin-bottom: 2.5rem;
  color: hsl(257, 7%, 63%);
  width: 90%;
  font-size: 22.5px;
  line-height: 1.7;
}

/* Extera info section */
.extera-info {
  background-color: #EFF1F7;
  padding-bottom: 10rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  bottom: 70px;
}

.extera-info p {
  margin: 0;
}

.shorten-section {
  background-color: hsl(257, 27%, 26%);
  background-image: url("images/bg-shorten-desktop.svg");
  background-repeat: no-repeat;
  padding: 2rem 3rem;
  width: 70%;
  margin: auto;
  border-radius: .8rem;
  display: flex;
  flex-direction: column;
}

.shorten-links {
  width: 80%;
}

.shorten-link {
  width: 93%;
  border-radius: 5px;
  background-color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1.5rem auto;
}

.shorten-link button {
  border-radius: 5px;
  padding: .7rem 1.8rem;
  font-size: 15px;
  margin: 0 .5rem 0 1rem;
  transition: .2s linear;
}

.short-p {
  color: hsl(180, 66%, 49%);
}

.long-p {
  color: hsl(257, 27%, 26%);
  max-width: 30%;
}

.short-section {
  display: flex;
  align-items: center;
}

.inner-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.shorten-btn {
  height: 4rem;
}

.error-msg {
  display: inline-block;
  color: hsl(0, 87%, 67%);
  padding-left: 1rem;
  padding-top: .5rem;
  font-size: 15px;
}

.shorten-section input {
  width: 73.5%;
  padding: 1.4rem 1.5rem;
  border-radius: .8rem;
  border: none;
  font-size: 18px;
  margin: 0 .2rem;
}

.shorten-section button {
  border-radius: .8rem;
}

.extera-info .head-section {
  width: 36%;
  margin: 0 auto 4rem;
  text-align: center;
}

.extera-info .head-section h3 {
  margin-top: 8rem;
  font-size: 40px;
  margin-bottom: 1rem;
  color: hsl(257, 27%, 26%);
}

.extera-info .head-section p {
  color: hsl(257, 7%, 63%);
}

.features {
  display: grid;
  width: 70rem;
  grid-gap: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 4rem 2rem 11rem 1fr 3rem;
  grid-template-areas:
    "recognition . . . ."
    "recognition . records . ."
    "recognition line1 records line2 customizable"
    "recognition . records . customizable"
    ". . . . customizable";
  justify-content: center;
  align-items: center;
}

.green-line {
  width: 2rem;
  height: .5rem;
  background-color: hsl(180, 66%, 49%);
}

.featur {
  background-color: #fff;
  width: 18rem;
  height: 15rem;
  border-radius: .3rem;
  padding: 0 2rem 2rem;
}

.featur img {
  background-color: hsl(257, 27%, 26%);
}

.pic-back {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(257, 27%, 26%);
  border-radius: 50%;
  position: relative;
  top: -2rem;
}

.featur p {
  color: hsl(257, 7%, 63%);
  font-size: 15px;
  /* width: 90%; */
}

.featur h4 {
  color: hsl(257, 27%, 26%);
  margin-top: 0;
  font-size: 23px;
  width: 90%;
}

.recognition {
  grid-area: recognition;
}

.records {
  grid-area: records;
}

.customizable {
  grid-area: customizable;
}

.line1 {
  grid-area: line1;
}

.line2 {
  grid-area: line2;
}

/* Extera add section */
.extera-add {
  background-color: hsl(257, 27%, 26%);
  padding: 4rem 0;
  text-align: center;
  background-image: url("images/bg-boost-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.extera-add h3 {
  color: #fff;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 1.8rem;
  font-size: 40px;
}

/* Footer links */
.footer-links {
  padding-top: 5rem;
  display: flex;
  background-color: hsl(260, 8%, 14%);
  justify-content: space-between;
}

.right-links {
  display: flex;
  width: 65%;
  justify-content: space-between;
}

.sections h5 {
  margin-top: 0;
  color: #fff;
}

.sections p {
  color: hsl(0, 0%, 75%);
  font-size: 15px;
  margin: 12px 0;
}

.sections p:hover, .media-icon:hover {
  color: hsl(180, 66%, 49%);
}

.media-icon {
  margin: 0 .5rem;
  color: #FFF;
}

.media-icon:hover {
  color: hsl(180, 66%, 49%);
}

@media(max-width: 1300px) {
  ::placeholder {
    font-size: 15px;
  }

  .main-section, .extra-info, .head-links, .extra-add, .footer-links {
    padding: 5rem 2rem 5rem;
  }

  .main-section {
    padding-right: 0;
    display: flex;
    justify-content: space-between;
  }

  .text {
    width: 40%;
  }

  .text h1 {
    font-size: 40px;
  }

  .text p {
    width: 80%;
    font-size: 20px;
  }

  .text button {
    font-size: 15px;
    padding: .8rem;
    width: 10rem;
  }

  .work-picture {
    width: 50%;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    bottom: 40px;
  }

  .extera-info p {
    margin: 0;
  }

  .shorten-section {
    padding: 1rem 2rem;
    width: 80%;
    border-radius: .8rem;
  }

  .inner-content {
    justify-content: space-between;
  }

  .shorten-section button {
    padding: 1rem;
    height: 3rem;
    font-size: 15px;
    border-radius: 5px;
  }

  .shorten-section input {
    padding: 1rem .5rem;
    width: 75%;
  }

  .shorten-links {
    width: 89%;
  }

  .shorten-links p {
    font-size: 15px;
  }

  .extera-info .head-section {
    width: 50%;
    margin-bottom: 6rem;
  }

  .extera-info .head-section h3 {
    margin-top: 4rem;
    font-size: 30px;
  }

  .extera-info .head-section p {
    font-size: 15px;
  }

  .green-line {
    width: .5rem;
    height:  6rem;
  }

  .pic-back {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(257, 27%, 26%);
    border-radius: 50%;
    position: relative;
    top: -2rem;
    left: 6rem;
  }

  .features {
    display: grid;
    width: 22rem;
    margin: 1rem;
    grid-gap: 0;
    grid-template-columns: 1fr 1.5rem 1fr;
    grid-template-rows: 1fr 6rem 1fr 6rem 1fr ;
    grid-template-areas:
      "recognition recognition recognition"
      ". line1 ."
      "records records records"
      ". line2 ."
      "customizable customizable customizable";
    justify-content: center;
    align-items: center;
  }
  .extera-info {
    padding-bottom: 5rem;
  }

  .footer-links {
    justify-content: space-around;
  }

  .right-links {
    width: 70%;
    justify-content: space-between;
  }

  .sections h5 {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .sections p {
    font-size: 12px;
    margin: 6px 0;
  }

  .media-icon {
    margin: 0 .2rem;
  }
}
